---
import type { PhotoCardProps } from "./types";
import {isDynamicImage} from "../../../utils/image-utils";

const { src, alt = "", albumId } = Astro.props as PhotoCardProps;
const isDyn = isDynamicImage(src);
---

<div class="gallery-photo-card break-inside-avoid mb-3">
	<div
		data-fancybox={`gallery-${albumId}`}
		data-src={src}
		data-type="image"
		class="block rounded-xl overflow-hidden group cursor-pointer"
	>
	{
		isDyn && (
			<img
				src="/static/loading.svg"
				alt={alt}
				loading="lazy"
				decoding="async"
				class="dyn-mikutop-image w-full h-auto object-cover transition-transform duration-300 group-hover:scale-105"
			/>
		)
	}
	{
		!isDyn && (
			<img
				src={src}
				alt={alt}
				loading="lazy"
				decoding="async"
				class="w-full h-auto object-cover transition-transform duration-300 group-hover:scale-105"
			/>
		)
	}
	</div>
</div>
